In [79]:
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [80]:
df = pd.read_csv('compras.csv')

In [81]:
df.head()

,cliente,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,JÚLIO DEMARQUE,limão,peito de peru,manga,cerveja,picanha,carvão,sal,linguiça,mel,geleia,cereal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAYCON SOARES,salsicha,cerveja,picanha,catchup,geleia,cebola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WEMERSON NETO,queijo,frutas,chá,alface,granola,feijão,farinha de trigo,suco de laranja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JOÃO DEMARQUE,pimenta,sardinha enlatada,barra de cereal,molho de tomate,gelatina,vinho branco,pão,tempero pronto,vinho tinto,presunto,arroz,feijão,NaN,NaN,NaN,NaN,NaN,NaN
4,MAYCON SANTOS,detergente,filé de frango,arroz,feijão,limão,papel higiênico,presunto,farinha de trigo,salada,alface,cenoura,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
#dropar coluna dos nomes, pra usar apriori nao precisa saber os nomes
df = df.drop('cliente', axis=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,limão,peito de peru,manga,cerveja,picanha,carvão,sal,linguiça,mel,geleia,cereal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,salsicha,cerveja,picanha,catchup,geleia,cebola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,queijo,frutas,chá,alface,granola,feijão,farinha de trigo,suco de laranja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pimenta,sardinha enlatada,barra de cereal,molho de tomate,gelatina,vinho branco,pão,tempero pronto,vinho tinto,presunto,arroz,feijão,NaN,NaN,NaN,NaN,NaN,NaN
4,detergente,filé de frango,arroz,feijão,limão,papel higiênico,presunto,farinha de trigo,salada,alface,cenoura,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
transactions = []
for i in range(0,df.shape[0]):
    transactions.append([str(df.values[i,j])for j in range(0,df.shape[1])])

In [86]:
#definindo o suporte mínimo como 0.02
#estamos interessados apenas em conjuntos de itens que aparecem em pelo menos 2% das transações. 
regras = apriori(transactions=transactions, min_support=0.05, min_confidence=0.2, min_lift=5, min_length=2, max_length=2)

In [85]:
resultados = list(regras)
resultados

[RelationRecord(items=frozenset({'feijão', 'arroz'}), support=0.0544, ordered_statistics=[OrderedStatistic(items_base=frozenset({'arroz'}), items_add=frozenset({'feijão'}), confidence=0.6384976525821596, lift=6.223174001775435), OrderedStatistic(items_base=frozenset({'feijão'}), items_add=frozenset({'arroz'}), confidence=0.530214424951267, lift=6.223174001775435)]),
 RelationRecord(items=frozenset({'frango', 'arroz'}), support=0.0425, ordered_statistics=[OrderedStatistic(items_base=frozenset({'arroz'}), items_add=frozenset({'frango'}), confidence=0.49882629107981225, lift=8.813185354767), OrderedStatistic(items_base=frozenset({'frango'}), items_add=frozenset({'arroz'}), confidence=0.7508833922261485, lift=8.813185354767002)]),
 RelationRecord(items=frozenset({'salada', 'arroz'}), support=0.0382, ordered_statistics=[OrderedStatistic(items_base=frozenset({'arroz'}), items_add=frozenset({'salada'}), confidence=0.44835680751173707, lift=5.461106059826273), OrderedStatistic(items_base=frozenset({'salada'}), items_add=frozenset({'arroz'}), confidence=0.46528623629719845, lift=5.461106059826273)]),
 RelationRecord(items=frozenset({'carvão', 'cerveja'}), support=0.0407, ordered_statistics=[OrderedStatistic(items_base=frozenset({'carvão'}), items_add=frozenset({'cerveja'}), confidence=0.673841059602649, lift=8.93688407961073), OrderedStatistic(items_base=frozenset({'cerveja'}), items_add=frozenset({'carvão'}), confidence=0.5397877984084881, lift=8.93688407961073)]),
 RelationRecord(items=frozenset({'carvão', 'picanha'}), support=0.0397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'carvão'}), items_add=frozenset({'picanha'}), confidence=0.6572847682119205, lift=7.678560376307483), OrderedStatistic(items_base=frozenset({'picanha'}), items_add=frozenset({'carvão'}), confidence=0.463785046728972, lift=7.678560376307483)]),
 RelationRecord(items=frozenset({'cerveja', 'picanha'}), support=0.0386, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cerveja'}), items_add=frozenset({'picanha'}), confidence=0.5119363395225465, lift=5.98056471404844), OrderedStatistic(items_base=frozenset({'picanha'}), items_add=frozenset({'cerveja'}), confidence=0.4509345794392524, lift=5.980564714048441)]),
 RelationRecord(items=frozenset({'feijão', 'frango'}), support=0.0363, ordered_statistics=[OrderedStatistic(items_base=frozenset({'feijão'}), items_add=frozenset({'frango'}), confidence=0.3538011695906433, lift=6.25090405637179), OrderedStatistic(items_base=frozenset({'frango'}), items_add=frozenset({'feijão'}), confidence=0.6413427561837456, lift=6.250904056371789)])]